[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"
lxml = "*"
typing = "*"
eo-dicts = {editable = true, path = "."}
humanize = "*"

[dev-packages]
black = "==24.3.0"
ipython = "*"
pytest = "*"
mypy = "*"
# https://github.com/psf/black/issues/2964
click = "<=8.1.0"

[requires]
python_version = "3.11"
